.playlist{
    width: 50%;
    background-color: rgb(94, 13, 13);
    float: right;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    padding-bottom:10px;
    min-height: 400px;
 
 }
 h2{
    color:beige;
   padding: 25px;
 }

 .containerTrack1{
    border-bottom: 1px solid rgb(155, 255, 6);
    width: 400px;
    text-align: left;
    margin:0px auto;
    margin-bottom: 0px;
    background-color: rgb(1, 59, 1);
    padding: 10px;

    

}
.playlist input::placeholder{
    color:white;
}
.playlist input[type=text]{
    border: 0px;
    margin: 0px;
    width: 400px;
    height: 70px;
    outline: none;
    padding: 9px;
    background-color: rgb(1, 59, 1);
    color: white;
    font-size: 20px;
    border-bottom: 1px solid rgb(155, 255, 6);
}

.containerTrack1 h3{
    margin: 0;
 

    padding: 5px;
  
    color: white;

}
.track1{
    display: flex;
    justify-content:space-between;
    align-items: center;
 
    margin: 0;
   
   }
   
   .track1 p{
     margin: 0px;
       padding: 5px;
       color: white;
       width: 70%;
   }
   .track1 button{
       justify-items: center;
       color: white;
       font-weight: bold;
   height: 30px;
   width: 30%;
   margin-right: 5px;
   background-color: rgb(67, 105, 10);
   border-radius: 5px 5px;
   border: 1px solid white;
   
   }
   

   .save{
    display: block;
    justify-items: center;
    color: white;
    font-weight: bold;
height: 30px;
width: 30%;
margin-right: 5px;
background-color: rgb(170, 125, 13);
border-radius: 5px 5px;
border: 2px solid white;
margin: 10px auto;

}